name: Deploy Flask app to AlwaysData

on:
  workflow_dispatch:   # permet de lancer manuellement et de choisir la branche
    inputs:
      branch:
        description: 'Nom de la branche à déployer'
        required: true
        default: '0.0.12'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AD_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.AD_HOST }} >> ~/.ssh/known_hosts

      - name: Test SSH connection
        run: |
          ssh -i ~/.ssh/id_ed25519 -o BatchMode=yes ${{ secrets.AD_USER }}@${{ secrets.AD_HOST }} "echo 'SSH connection OK'" || exit 1

      - name: Update code on AlwaysData
        run: |
          ssh -i ~/.ssh/id_ed25519 ${{ secrets.AD_USER }}@${{ secrets.AD_HOST }} "
            set -e  # arrêter en cas d'erreur
            cd /home/inventory-service/inventory_service || { echo 'Dossier /home/inventory-service/inventory_service introuvable'; exit 1; }
            git fetch origin
            git checkout ${{ github.event.inputs.branch }} || { echo 'Impossible de checkout la branche'; exit 1; }
            git pull origin ${{ github.event.inputs.branch }} || { echo 'Impossible de faire git pull'; exit 1; }
          "

      - name: Restart Python service
        run: |
          ssh -i ~/.ssh/id_ed25519 ${{ secrets.AD_USER }}@${{ secrets.AD_HOST }} "
            adtools service restart ${{ secrets.AD_SERVICE_ID }} || { echo 'Impossible de redémarrer le service'; exit 1; }
          "
